
.elemental-add-existing-autocompleter {
    max-width: 50%;
}

.elemental-add-existing-autocompleter > span:first-child {
    max-width: calc(100% - 117px);
}

.elemental-add-existing-autocompleter > span:first-child input {
    max-width: 100%;
}

.cms .field input.ui-autocomplete-input.ui-autocomplete-loading {
    background-image: url(../../framework/images/progressbar_blue.gif);
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 30px;
}

.cms table.ss-gridfield-table tr[data-class="ElementVirtual"] {
    background: #f4f4f4;
    font-style: italic;
}
.cms table.ss-gridfield-table tr[data-class="ElementVirtual"].even {
    background: #e8e8e8;
}
    .cms table.ss-gridfield-table tr[data-class="ElementVirtual"] td {
        color: #999;
    }

.element-editor-header__icon-container .element-icon-virtual {
    width: 27.3px;
    height: 30px;
    display: block;
    background: url("../images/virtual.svg") no-repeat center;
    background-size: 100% auto;
}
